body {
  margin: 0;
  color: #27374d;
}

.navBar > ul {
  list-style: none;
  align-items: center;
}

.nav-logo {
  margin-left: 0;
  height: 2.4rem;
}
span {
  align-items: flex-end;
}

.navBar {
  height: max-content;
  color: #27374d !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 2rem;
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex-grow: unset;
}
#home {
  background-color: aqua;
  align-content: center;
  align-items: flex-start;
  justify-content: start;
}

#home > button {
  color: black;
  background-color: azure;
}

#about {
  background-color: red;
  align-items: end;
}

#events {
  background-color: aqua;
  align-content: center;
  align-items: flex-start;
  justify-content: start;
}

button {
  border: none;
  border-radius: 10px;
}
.btn {
  background-color: #ececec !important;
  height: 50px;
  width: auto;
  white-space: nowrap;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 6px 21px;
  margin: 2px;
}

a {
  scroll-behavior: smooth;
}
